*.out
*.mat
tests/Placeholder/wetP
tests/Placeholder/figures/*.png
tests/Placeholder/data/*.mat
tests/Placeholder/omnitrace-wetP-output
tests/Placeholder/omnitrace-wetP.inst-output
**/wetP*
**/figures*
**/out*
**/data*