[submodule "tests/googletest"]
	path = tests/unit/googletest
	url = https://github.com/google/googletest
[submodule "tests/gtest-mpi-listener"]
	path = tests/unit/gtest-mpi-listener
	url = https://github.com/LLNL/gtest-mpi-listener
[submodule "tests/unit/googletest"]
	path = tests/unit/googletest
	url = https://github.com/google/googletest
[submodule "tests/unit/gtest-mpi-listener"]
	path = tests/unit/gtest-mpi-listener
	url = https://github.com/LLNL/gtest-mpi-listener
